{% block footer_content %}
<div class="footer">
    <div id="footer-lower" class="row" style="padding-top: 12px;">
        <div class="col-lg-12">
            <div class="container contact-details">
                <div class="col-md-4 social text-center">
                    <ul>
                        <li>
                            <a href="http://twitter.com/GovDataIE">
                                <p> <span class="icon-twitter"></span> @GovDataIE </p>
                            </a>
                        </li>
                        <li>
                            <a href="http://twitter.com/IRLDeptPER">
                                <p> <span class="icon-twitter"></span> @IRLDeptPER </p>
                            </a>
                        </li>
                        <li>
                            <a href="mailto:opendata@per.gov.ie">
                                <p> <span class="icon-envelope"></span> opendata@per.gov.ie </p>
                            </a>
                        </li>
                        <li>
                            <a href="tel:35316767571">
                                <p> <span class="icon-phone"></span> +353 1 6767571 </p>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 text-center">
                    <address>
                        Open Data Unit<br/>
                        Dept of Public Expenditure &amp; Reform,<br/>
                        7-9 Merrion Row,<br/>
                        Dublin 2, Ireland.
                    </address>
                </div>
                <div class="col-md-4 text-center">
                    <p>Powered by <a href="http://ckan.org"><img id="ckan-logo" src="/assets/img/ckan-logo.png" alt="CKAN logo"/></a></p>
                    <p>Site by <a href="https://derilinx.com">Derilinx</a></p>
                    <p><a href="http://per.gov.ie">Department of Public Expenditure and Reform</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--google analytics-->
<script type="text/javascript">
 (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
     (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
 })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
 ga('create', 'UA-59685031-1', 'auto');
 ga('set', 'anonymizeIp', true);
 ga('send', 'pageview');
</script>
{% endblock %}
